<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
 
  <div  class="container">
      <h1>File Upload</h1>
      
  <form action="/upload" method="POST">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input name="myimage" class="file-path validate" type="text">
          </div>
        </div>
        <button typr="submit" class="btn"></button>
      </form>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>